<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>İngilizce Öğrenme</title>
  		<meta charset="UTF-8">

		<script  src="https://code.jquery.com/jquery-3.4.1.js"></script>
	
		<style>
			body {
				font-size: 16px;
				color: #404040;
				background-color: #ffffff;
				height: 97vh;
  				display: flex;
 				flex-wrap: nowrap;
 				font-family: -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen,Ubuntu,'Fira Sans','Droid Sans','Helvetica Neue',sans-serif;
			}

			.collapsed-actionbar {
			    width: 2%;
			}
			
			.extended-actionbar {
			    width: 20%;
			}

			#actionbar {
			    height: 100%;
			    background-color: #4caf50;
			    float: left;
			    color: #ffffff;
		    	position: relative;
		    }
		    
		    #actionMenu {
		    	padding: 30px 20px 0 5px;
		    	float: left;
		    }
		    
		    #actionMenu .action-menu-item {
		    	width: 100%;
		    	font-weight: bold;
		    	float: left;
		    	padding: 10px 0 10px 15px;
		    	cursor: pointer;
		    }
		    
		    #actionMenu .action-menu-item:hover, 
		    #formLearningPack input[type=submit]:hover,
		    #formImport input[type=submit]:hover,
		    #formLearningPack input[type=button]:hover {
		    	background-color: #51d355;
		    }
		    
		    #actionbarContainer {
		    	height: 100%;
    			overflow-x: hidden;
		    }
		    
		    #btnToggleActionbar {
			    position: absolute;
			    width: 25px;
			    height: 25px;
			    right: -10px;
			    top: 50%;
			    border-radius: 12px;
			    border: 0px;
			    font-size: 15px;
			    cursor: pointer;
			    font-weight: bold;
			    background-color: #026b06;
		    }
		    
		    #content {
		    	float: left;
			    width: 100%;
		    }
		    
		    #content-inner {
		    	padding-left: 20px;
		    	padding-right: 10px;
		    }

			#tblWords {
			 	border-collapse: collapse;
			 	width: 100%;
			}

			#tblWords th, td {
				cursor: pointer;
			}

			#tblWords td, #tblWords th {
			 	border: 1px solid #ddd;
			 	padding: 8px;
			}

			#tblWords tr:nth-child(even) {
				background-color: #f2f2f2;
			}

			#tblWords tr:hover {
				background-color: #ddd;
			}

			#tblWords th {
			 	padding-top: 12px;
			 	padding-bottom: 12px;
			 	text-align: left;
			 	background-color: #4CAF50;
			 	color: white;
			}
			
			#tblWords tbody tr td input[type=text] {
			    border: 0px;
			    height: 25px;
			    width: 100%;
			}
			
			#messageDialog {
			    z-index: 999;
			    text-align: center;
			    min-height: 200px;
			    max-height: 500px;
			}
			
			.custom-menu {
			    display: none;
			    z-index: 1000;
			    position: absolute;
			    overflow: hidden;
			    border: 1px solid #CCC;
			    white-space: nowrap;
			    font-family: sans-serif;
			    background: #FFF;
			    color: #333;
			    border-radius: 5px;
			    padding: 0;
			}
			
			/* Each of the items in the list */
			.custom-menu li {
			    padding: 8px 12px;
			    cursor: pointer;
			    list-style-type: none;
			    transition: all .3s ease;
			    user-select: none;
			    min-width: 150px;
			}
			
			.custom-menu li:hover {
			    background-color: #DEF;
			}
			
			.btn-primary {
			    color: white;
			    background-color: #4caf50;
			    border-radius: 2px;
			    border: 1px solid #4caf50;
			    cursor: pointer;
			}
			
			.btn-primary:hover {
				background-color: #51d355;
			}
		</style>
	</head>
	
	<body>
		<div id="actionbar" class="extended-actionbar">
			<div id="actionbarContainer">
				<div id="actionMenu" class="action-menu">
					<div class="action-menu-item"><a href="/">Kelime Ekle</a></div>
				</div>
				<button id="btnToggleActionbar" class="btn-primary">&gt;</button>
			</div>
		</div>
		
		<div id="content">
			<div id="content-inner">
				<table id="tblWords">
					<thead>
						<tr>
							<th id="sectionTrWord">Türkçe</th>
							<th id="sectionEnWord">İngilizce</th>
							<th id="sectionPronunciation">Okunuş</th>
							<th id="sectionColor">Renk</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="pack : ${packs}" th:id="${pack.id}">
							<td th:name="turkishWord" th:text="${pack.turkishWord}" th:value="${pack.turkishWord}"></td>
							<td th:name="englishWord" th:text="${pack.englishWord}" th:value="${pack.englishWord}"></td>
							<td th:name="pronunciation" th:text="${pack.pronunciation}" th:value="${pack.pronunciation}" style="visibility:hidden"></td>
							<td th:name="color" th:value="${pack.color}">
								<select th:name="color">
									<option value=""></option>
									<option value="green" th:selected="${'green'==pack.color}">Ok</option>
									<option value="orange"th:selected="${'orange'==pack.color}">Not sure</option>
									<option value="red" th:selected="${'red'==pack.color}">Not Memorized</option>
								</select>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

	</body>
</html>
<script type="text/javascript">
			$(document).ready(function() {
				colorizeAllRows();
			});

			var colorizeAllRows = function() {
				var allRows = RowOperations.getAllRows();

				allRows.each(function(index, row) {
					var color = $(row).find("select option").filter(':selected').val();
					var representativeColor = ColorMap.getRepresentativeColor(color);

					RowOperations.recolorRowBackground(this.id, representativeColor);
				});
			}

			$("#sectionTrWord").click(function() {
				showOrHideCells(0);
			});

			$("#sectionEnWord").click(function() {
				showOrHideCells(1);
			});

			$("#sectionPronunciation").click(function() {
				showOrHideCells(2);
			});

			$("select[name=color]").change(function(e) {
				var color = this.value;
				var representativeColor = ColorMap.getRepresentativeColor(color);
				var wrapperRowId = this.closest("tr").id;
				var wrapperRow = RowOperations.getRowById(wrapperRowId);

				var oxfordPack = {
					id: wrapperRowId,
					turkishWord : wrapperRow.find("[name=turkishWord]").attr("value"),
					englishWord : wrapperRow.find("[name=englishWord]").attr("value"),
					pronunciation : wrapperRow.find("[name=pronunciation]").attr("value"),
					color : color
				};

				saveOrUpdatePack(oxfordPack);
				RowOperations.recolorRowBackground(wrapperRowId, representativeColor);
			});

			var ColorMap = {
				colors: {
					orange: 'orange',
					green: '#4caf50',
					red: '#ff5c5c'
				},
				getRepresentativeColor: function(color) {
					return ColorMap.colors[color];
				}
			};

			var RowOperations = {
				table: undefined,
				init: function() {
					
				},
				getRowById: function(rowId) {
					return $("#tblWords").find("tr#"+rowId);
				},
				deleteRow: function(rowId) {
					$("#tblWords").find("tr#"+rowId).remove();
				},
				getAllRows: function() {
					return $("#tblWords tbody").find("tr");
				},
				recolorRowBackground: function(rowId, color) {
					if (!color || color == "white") {
						return;
					}

					$("#tblWords").find("tr#"+rowId).css("background-color", color);
				}
			};

			function packActionPanel() {
				$("#formLearningPack")[0].reset();
				$("#formLearningPack").show(100)
			}
			
			function showOrHideCells(indexMode) {
				$.each($("#tblWords").find("tbody tr td"), function(index, element) {
					if (index % 4 == indexMode) {
						if ($(element).css("visibility") == "hidden") {
							$(element).css({visibility : ""}, 1500);
						} else {
							$(element).css({visibility : "hidden"}, 1500);
						}
					}
				});
			};

			function deletePack(id) {
				$.ajax({
					url: '/learningpack/delete',
					method: 'POST',
					data: {
						id: id
					},
					async: true,
					beforeSend: function() {
					},
					success: function() {
						RowOperations.deleteRow(id);
					},
					error: function(jqXHR, textStatus, errorThrown) {
						showMessageDialog(
								jqXHR.responseJSON.error,
								jqXHR.responseJSON.message);
					}
				});
			}
			
			function saveOrUpdatePack(oxfordPack) {
				$.ajax({
					url: '/oxfordpack/update',
					method: 'POST',
					data: oxfordPack,
					async: true,
					error: function(jqXHR, textStatus, errorThrown) {
					}
				});
			}
		</script>
